@page 
@model PetSpaBE.Razor.Pages.Package.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">

<body>	
	<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-end">
				<div class="col-md-9 ftco-animate pb-5">
					<p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Pricing <i class="ion-ios-arrow-forward"></i></span></p>
					<h1 class="mb-0 bread">Packages</h1>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center pb-5 mb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2>Booking Now</h2>
				</div>
			</div>
			<div class="row align-items-stretch">
				@foreach (var pack in Model.lst_Packages.Items)
				{
					<div class="col-md-4 ftco-animate">
						<div class="block-7">
							<div class="img"> <img src="~/images/@pack.Image" alt="@pack.Name" class="img-fluid" /></div>
							<div class="text-center p-4">
								<span class="excerpt d-block">@pack.Name</span>
								<h4><span class="number">@pack.Price.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</span><sup>đ</sup></h4>
								<a asp-page="./Detail" asp-route-id="@pack.Id" class="btn btn-primary d-block px-2 py-3">
									View Detail
								</a>

							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</section>

	
</body>
</html>